.light {
  --md-sys-color-primary: rgb(119 90 0);
  --md-sys-color-surface-tint: rgb(119 90 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(240 185 11);
  --md-sys-color-on-primary-container: rgb(100 75 0);
  --md-sys-color-secondary: rgb(0 0 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(26 28 32);
  --md-sys-color-on-secondary-container: rgb(130 131 137);
  --md-sys-color-tertiary: rgb(0 108 72);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(45 189 133);
  --md-sys-color-on-tertiary-container: rgb(0 70 45);
  --md-sys-color-error: rgb(183 16 53);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 49 75);
  --md-sys-color-on-error-container: rgb(255 251 255);
  --md-sys-color-background: rgb(255 248 242);
  --md-sys-color-on-background: rgb(32 27 17);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(239 225 199);
  --md-sys-color-on-surface-variant: rgb(79 70 51);
  --md-sys-color-outline: rgb(129 118 96);
  --md-sys-color-outline-variant: rgb(211 197 172);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(246 190 22);
  --md-sys-color-primary-fixed: rgb(255 223 153);
  --md-sys-color-on-primary-fixed: rgb(37 26 0);
  --md-sys-color-primary-fixed-dim: rgb(246 190 22);
  --md-sys-color-on-primary-fixed-variant: rgb(90 67 0);
  --md-sys-color-secondary-fixed: rgb(226 226 232);
  --md-sys-color-on-secondary-fixed: rgb(26 28 32);
  --md-sys-color-secondary-fixed-dim: rgb(198 198 204);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 71 75);
  --md-sys-color-tertiary-fixed: rgb(118 251 189);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 19);
  --md-sys-color-tertiary-fixed-dim: rgb(87 222 163);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 82 54);
  --md-sys-color-surface-dim: rgb(221 217 217);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
